{% extends 'base.html.twig' %}

{% block title %}Tache{% endblock %}

{% block body %}
    <h1>Tache</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tache.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ tache.designation }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tache.description }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ tache.etat }}</td>
            </tr>
            <tr>
                <th>DateAchevement</th>
                <td>{{ tache.dateAchevement ? tache.dateAchevement|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_gestion_projet_tache_index') }}">back to list</a>

    <a href="{{ path('admin_gestion_projet_tache_edit', {'id': tache.id}) }}">edit</a>

{% endblock %}
