{% extends 'admin/base.html.twig' %}

{% import "macros/table.html.twig" as table %}
{% import "macros/head.html.twig" as head %}
{% import "macros/foot.html.twig" as foot %}
{% import "macros/breadcrumb.html.twig" as utils %}
{% import "macros/alertes.html.twig" as alerte %}
{% import "macros/button.html.twig" as btn %}
{% import "macros/link.html.twig" as link %}
{% import "macros/dataTable.html.twig" as dataTable %}

{% block head %}
	{{ dataTable.css() }}
{% endblock %}

{% block foot %}
	{{ dataTable.js() }}
{% endblock %}

{% block title %}Temoin Investissement index
{% endblock %}

{% block body %}
	{% for item in app.flashes('success') %}
		{{alerte.alert(item,'success')}}
	{% endfor %}
	<div class="container-fluid">
		<div class="row">
			<div class="col mb-2">
				{{link.add(path('admin_gestion_temoin_investissement_new',{'id_contractant':contractantInvestissement.id,'id_invest':investissement.id}))}}
			</div>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-lg-12 col-md-12 col-12">
			<div class="card card-outline card-primary">
				<div class="card-header">
					Tous Les témoins de l'investissement
					<b class="text-danger">{{investissement.designation}}</b>
					de type
					<b class="text-danger">{{investissement.type}}</b>
					avec le partenaire
					<b class="text-danger">{{contractantInvestissement.personneGestion.getFullName}}</b>
				</div>
				<div class="card-body">
					<table class="table" id="table-2">
						<thead>
							<tr>
								<th>Temoin</th>
								<th>Titre</th>
								<th>Email</th>
								<th>Adresse</th>
								<th>Message</th>
								<th>actions</th>
							</tr>
						</thead>
						<tbody>
							{% for temoin_investissement in temoin_investissements %}
								<tr>
									<td>{{ temoin_investissement.personneGestion.getFullName }}</td>
									<td>{{ temoin_investissement.personneGestion.titre }}</td>
									<td>{{ temoin_investissement.personneGestion.email }}</td>
									<td>{{ temoin_investissement.personneGestion.adresse }}</td>
									<td>
										{% if temoin_investissement.message|length > 30 %}
											{{ temoin_investissement.message|u.truncate(50,'...') }}

										{% else %}
											{{ temoin_investissement.message }}

										{% endif %}
									</td>
									<td>
										{{link.show(path('admin_gestion_temoin_investissement_show',{'id_contractant':contractantInvestissement.id,'id_invest':investissement.id,'id':temoin_investissement.id}))}}
										{{link.iconEdit(path('admin_gestion_temoin_investissement_edit',{'id_contractant':contractantInvestissement.id,'id_invest':investissement.id,'id':temoin_investissement.id}))}}
										<button 
											class="btn del_temoin_contrat"
											type="button"
											data-delete="{{temoin_investissement.id}}"
											data-contractant="{{contractantInvestissement.id}}"
											data-investi="{{investissement.id}}"
											data-path="{{path('admin_gestion_temoin_investissement_delete',{'id_contractant':contractantInvestissement.id,'id_invest':investissement.id,'id':temoin_investissement.id})}}"><i class="fas fa-trash-alt text-danger"></i>
										</button>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="4">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="card-footer">
					{{link.back(path('admin_gestion_investissement_index',{'id':contractantInvestissement.id}),'Vos Investissements')}}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block javascripts %}
	{{ dataTable.script('#table-1') }}
	{{ dataTable.script('#table-2') }}
	{{ dataTable.script('#table-3') }}

	<script>
	$(document).ready(function(){
		$(document).on('click', '.del_temoin_contrat', function () {
let id_temoin = $(this).data('delete');
let id_contractant = $(this).data('contractant');
let id_ivesti = $(this).data('investi');
let path = $(this).data('path');


Swal.fire({
		title: 'Etes Vous sur de supprimer ce temoin ?',
		text: "Une fois supprimé, la donnée sera perdue !",
		icon: 'warning',
		showCancelButton: true,
		confirmButtonColor: '#3085d6',
		cancelButtonColor: '#d33',
		cancelButtonText: 'Annuler !',
		confirmButtonText: 'Oui, Supprimer !'
		}).then((result) => {
		if (result.isConfirmed) {
			$.ajax({
			url: path,
			method: 'POST',
			dataType: 'JSON',
			data: {
			supr_temoin: id_temoin,
			id_contractant: id_contractant,
			id_ivesti: id_ivesti,
			del_temoin: 'katoula_yawou'
		},
		success: function (data) {
			if (data == 'success') {
			Swal.fire('Suppression Réussie!', 'Ce Témoin a été supprimé.', 'success');
			location.reload();
			} else {
			swalWithBootstrapButtons.fire('Suppression Impossible', 'veuillez rééssayer plus tard  :)', 'error')
			}
		}
	});

	}
	})
});
	});
	</script>
{% endblock %}
