{% import "macros/breadcrumb.html.twig" as utils %}
{% import "/macros/image.html.twig" as image %}
{% import "macros/alertes.html.twig" as alerte %}
{% import "macros/link.html.twig" as links %}
{% import "macros/role.html.twig" as roles %}

{% extends "admin/base.html.twig" %}

{% block title %}Profile utilisateur{% endblock %}

{% block breadcrumb %}
{{ utils.breadcrumb('Profile',[
{
path:'article_index',
name:'Manage Articles'
}
])}}
{% endblock %}

{% block head %}

<link rel="stylesheet" href="{{ asset('vendor/cropper/cropper.min.css') }}">
<link rel="stylesheet" href="{{ asset('vendor/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css') }}">
{% endblock %}
{% block body %}
{% for item in app.flashes('success') %}
{{ alerte.alert(item,'success')}}
{% endfor %}
<style>
  #image {
    display: block;
    max-width: 100%;
  }

  .loader-delete-account,
  .alert-delete-account {
    display: none;
  }
</style>
<div class="row">
  <div class="col-md-3">
    <!-- Profile Image -->
    <div class="card card-primary card-outline">
      <div class="card-body box-profile">
        <div class="text-center">
          <img class="profile-user-img img-fluid img-circle"
            src="{{ asset('img/user/' ~ app.user.personne.avatar|default('empty.png') ) }}"
            alt="{{ app.user.personne.firstName ~ ' ' ~ app.user.personne.lastName  }}">
        </div>
        <h3 class="profile-username text-center">{{app.user.personne.lastName | title}} {{app.user.personne.firstname |
          title }}</h3>
        <p>
          <a href="#" class="a">Modifier le mot de passe <i class="fas fa-pencil-alt text-success"></i> </a>
        </p>


        <button type="button" id="btn-editor" class="btn btn-primary mb-3 btn-block">
          <b>Modifier <i class="fas fa-pencil-alt"></i> </b>
        </button>
        <div id="js-editor">
          {{ form_start(form,{
          attr:{
          'novalidate':'novalidate'
          },action: path('profile_edit',{id: app.user.id })}) }}
          {{ form_widget(form) }}
          <button class="btn btn-primary btn-lg">Update <i class="fas fa-save"></i> </button>
          {{ form_end(form) }}
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
  <div class="col-md-9">
    <div class="card">
      <div class="card-header p-2">
        <ul class="nav nav-pills">
          <li class="nav-item"><a
              class="nav-link {% if app.request.query.get('tab') is null or app.request.query.get('tab') == '' %}active{% endif %}"
              href="#information" data-toggle="tab">Information</a></li>
          <li class="nav-item"><a class="nav-link" href="#reglage" data-toggle="tab">Reglage</a></li>
          <li class="nav-item"><a class="nav-link" href="#reglage" data-toggle="tab">Reglage</a></li>
        </ul>
      </div><!-- /.card-header -->
      <div class="card-body">
        <div class="tab-content">
          <div
            class="{% if app.request.query.get('tab') is null or app.request.query.get('tab') == '' %}active{% endif %} tab-pane"
            id="information">
            <div class="row">
              <div class="col-md-4 col-12">

                <strong><i class="fas fa-user mr-1"></i> compte</strong>
                <p class="text-muted">
                  {% for item in app.user.roles %}
                  {{ roles.role(item)}}
                  {% endfor %}
                </p>
              </div>
              <div class="col-md-4 col-12">
                <strong><i class="fas fa-book mr-1"></i> Email</strong>
                <p class="text-muted">
                  {{app.user.email}}
                </p>
              </div>
              <div class="col-md-4 col-12">
                <strong><i class="fas fa-map-marker-alt mr-1"></i> Adresse</strong>
                <p class="text-muted">
                  Sacre coeur 2, Dakar senegal
                </p>
              </div>
              <div class="col-md-4 col-12">
                <strong><i class="fas fa-phone mr-1"></i> Telephone</strong>
                <p class="text-muted">
                  +221 78 127 82 88
                </p>
              </div>
            </div>
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="reglage">
            <div class="row">
              <div class="col-md-6">
                <strong><i class="fas fas-fa-user-slash mr-1"></i> Modifier mon email</strong>
                <p class="text-muted">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae, quis.
                </p>
                <div class="loader-edit-email">
                  <div class="overlay"><i class="fas fa-2x fa-sync-alt fa-spin"></i></div>
                </div>
                <button id="btn-edit-email" class="btn btn-primary">
                  Modifier l'email
                </button>
                <hr>
              </div>
              <div class="col-md-6">
                <strong><i class="fas fas-fa-user-slash mr-1"></i> Modifier le mot de passe</strong>
                <p class="text-muted">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae, quis.
                </p>
                <button class="btn btn-primary"> <i class="fas fa-edit"></i>
                  Modifier le mot de passe
                </button>
                <hr>
              </div>
              <div class="col-md-6">
                <strong><i class="fas fas-fa-user-slash mr-1"></i> Supprimer mon compte</strong>
                <p class="text-muted">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae, quis.
                </p>
                <div class="loader-delete-account">
                  <div class="overlay"><i class="fas fa-2x fa-sync-alt fa-spin"></i></div>
                </div>
                <div class="alert-delete-account">
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, qui.</p>
                  </div>
                  <script>
                    $(".alert").alert();
                  </script>
                </div>
                <button id="btn-delete-account" class="btn btn-danger">
                  <i class="fas fa-user-slash"></i> Supprimer mon compte </button>
                <hr>
              </div>
            </div>
          </div>
          <!-- /.tab-pane -->
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div><!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
{% endblock %}
{% block foot %}
<!-- cropper -->
<!-- <script src="{{ asset('vendor/cropper/cropper.min.js') }}"></script> -->
<script src="{{ asset('vendor/sweetalert2/sweetalert2.all.min.js') }}"></script> -->
{% endblock %}

{% block javascripts %}
<script>
  $(document).ready(function () {
    // delete account start
    $(document).on('click', '#btn-delete-account', function () {
      Swal.fire({
        title: 'Etes vous sûr?',
        text: "Vous etes sur le point d'envoyer un email de suppresion de compte !  ",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        cancelButtonText: 'Fermer',
        confirmButtonText: 'Oui, je confoirme!'
      }).then((result) => {
        if (result.isConfirmed) {
          // ajax
          $.ajax({
            url: "{{ path('send_delete_account') }}",
            method: "POST",
            dataType: 'json',
            data: {},
            beforeSend: function () {
              $('.loader-delete-account').css('display', 'initial')
              $('#btn-delete-account').css('display', 'none')
            },
            success: function (data) {

              if (data == 'success') {
                $('.alert-delete-account').css('display', 'initial')
                Swal.fire({
                  icon: 'success',
                  title: 'Your work has been saved',
                  showConfirmButton: false,
                  timer: 1500
                })
              } else {
                Swal.fire({
                  icon: 'warning',
                  title: 'Une érreur a été detecté',
                  text: "Veillez le notifier a un administraeur !",
                  showConfirmButton: false,
                  timer: 1500
                })

              }
              $('.loader-delete-account').css('display', 'none')
              $('#btn-delete-account').css('display', 'initial')
            }
          })
          //  ./ajax end
        }
      })
    })
    // delete account end


    // send email start 
    $(document).on('click', '#btn-edit-email', function () {
      Swal.fire({
        title: 'Etes vous sûr?',
        text: "Vous etes sur le point d'envoyer un email de modification d'email ! ",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        cancelButtonText: 'Fermer',
        confirmButtonText: 'Oui, je confirme!'
      }).then((result) => {
        if (result.isConfirmed) {
          // ajax
          $.ajax({
            url: "{{ path('send_edit_email') }}",
            method: "POST",
            dataType: 'json',
            data: {},
            beforeSend: function () {
              $('.loader-delete-account').css('display', 'initial')
              $('#btn-delete-account').css('display', 'none')
            },
            success: function (data) {
              $('.loader-delete-account').css('display', 'none')
              $('#btn-delete-account').css('display', 'initial')
              $('.alert-delete-account').css('display', 'initial')
              Swal.fire({
                icon: 'success',
                title: 'Your work has been saved',
                showConfirmButton: false,
                timer: 1500
              })
            }
          })
          //  ./ajax end
          Swal.fire({
            icon: 'success',
            title: 'Un email de confirmation vous a été envoyé',
            showConfirmButton: false,
            timer: 1500
          })
        }
      })
    })
    // send email end

    $(document).on('click', '#btn-editor', function () {
      $('#js-editor').animate({
        height: 'toggle'
      })
    })
    // const image = document.getElementById('image');
    // const cropper = new Cropper(image, {
    //   aspectRatio: 16 / 9,
    //   crop(event) {
    //     console.log(event.detail.x);
    //     console.log(event.detail.y);
    //     console.log(event.detail.width);
    //     console.log(event.detail.height);
    //     console.log(event.detail.rotate);
    //     console.log(event.detail.scaleX);
    //     console.log(event.detail.scaleY);
    //   },
    // })
  })
</script>
{% endblock %}