{% extends 'admin/base.html.twig' %}
{% import "macros/breadcrumb.html.twig" as breadcrumbs %}
{% import "macros/dataTable.html.twig" as dataTable %}
{% import "macros/link.html.twig" as links %}
{% block title %}Caisse{% endblock %}

{% block head %}
{{ dataTable.css() }}
{% endblock %}

{% block foot %}
{{ dataTable.js() }}
{% endblock %}

{% block javascripts %}
{{ dataTable.script('#table-1') }}
{% endblock %}



{% block breadcrumb %}
	{{ breadcrumbs.breadcrumb('Caisse',[
{
path:path('admin_caisse_index'),
name:'Manage Caisse'
}
])}}
{% endblock %}

{% block body %}
{% include "admin/alerte/_success.html.twig" %}
<div class="card card-outline card-primary">
    <div class="card-body">
        <a class="btn btn-primary mb-2" href="{{ path('admin_caisse_new') }}">Create new</a>
        <div class="row">
            <div class="col-12 col-md-12">
                <h3>Total en caisse : {{ montantTotal|number_format(0, '', ' ') }} {{ site.current_name}} </h3>
                <table id="table-1" class="table">
                    <thead>
                        <th>Code</th>
                        <th>Montant</th>
                        <th>Type</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        {% for caisse in caisses %}
                        <tr>
                            <td>{{ caisse.code|upper }}</td>
                            <td class="text-{{ (caisse.montant > 0) ? 'success':'danger'}} font-weight-bold" >{{ caisse.montant|number_format(0,'',' ') }}</td>
                            <td>{{ (caisse.montant > 0 ) ? 'Crédit':'Débit' }} </td>
                            <td>
								{{ links.show(path('admin_caisse_show', {'code': caisse.code|lower}))}}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
