{% extends 'base.html.twig' %}

{% block title %}Caisse{% endblock %}

{% block body %}
    <h1>Caisse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ caisse.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ caisse.code }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ caisse.libelle }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ caisse.montant }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ caisse.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_caisse_index') }}">back to list</a>

    <a href="{{ path('admin_caisse_edit', {'id': caisse.id}) }}">edit</a>

    {{ include('admin_caisse/_delete_form.html.twig') }}
{% endblock %}
