{% import "macros/table.html.twig" as table %}
{% import "macros/head.html.twig" as head %}
{% import "macros/foot.html.twig" as foot %}
{% import "macros/button.html.twig" as btn %}
{% import "macros/link.html.twig" as link %}
{% import "macros/dataTable.html.twig" as dataTable %}
{% import "macros/breadcrumb.html.twig" as breadcrumb %}

{% extends 'admin/base.html.twig' %}

{% block title %}Listes des Applications
{% endblock %}
{% block breadcrumb %}
	{{ breadcrumb.breadcrumb('Gestion des applications')}}
{% endblock %}
{% block body %}
{% include "includes/_alerte.html.twig" %}
	<div class="card card-outline card-primary">
		<div class="card-header">Listes des Applications</div>
		<div class="card-body">
			<a class="btn btn-primary my-1" href="{{ path('app_admin_application_new') }}">Ajouter une application</a>
			<hr>
			<table id="table-1" class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nom</th>
						<th>Telechargement</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for application in applications %}
						<tr>
							<td>{{ application.id }}</td>
							<td>{{ application.nom }}</td>
							<td>{{ application.nombreTelechargement }}</td>
							<td>
								{{ link.show(path('app_admin_application_show', {'id': application.id})) }}
								{{ link.edit(path('app_admin_application_edit', {'id': application.id})) }}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
