{% import "macros/navUl.html.twig" as navs%}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
		        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous"> -->
        <!-- Favicon -->
    {% block favicon %}
        <link rel="shortcut icon" href="{{ asset('img/logo/logo-pmd-1.png') }}" type="image/x-icon">
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
       <!-- owl.carousel -->
    <link rel="stylesheet" href="{{ asset('vendor/owl-carousel/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/owl-carousel/owl.theme.default.min.css') }}">
    <!-- fontawesome -->
    <link rel="stylesheet" href="{{ asset('vendor/fontawesome-free/css/all.css') }}"> <!-- aos -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Sweetalert 2 -->
    <link rel="stylesheet" href="{{ asset('vendor/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css') }}">
    <!-- Style -->
    <link rel="stylesheet" href="{{ asset('css/pmd.css') }}"> {% block head %}{% endblock %}
    <title>
        {% block title %}Accueil - Votre équipe de solution informatique{% endblock %} - Pmd Developper
    </title>
</head>
<body>
    <button onclick="topFunction()" id="btn-scroll" class="bg-3" title="Go to top">
        <i class="fa fa-arrow-circle-up fa-1x" aria-hidden="true"></i>
    </button>
    <div id="loader-pmd">
        <div class="loader">
            <img width="40%" src="{{ asset('img/logo/pmd-developper.png') }}" class="d-block mx-auto" alt="">
            chargement...
        </div>
    </div>
    <header class="main-header pt-1">
        <div class="container">
            <nav class="navbar  navbar-expand-lg main-nav px-0">
                <a href="#">
                    <!-- PMD Developper -->
                    <img class="img-nav" src="{{ asset('img/logo/pmd-developper.png') }}" alt="">
                </a>
                <div class="collapse navbar-collapse" id="mainMenu">
                    {% block navUl %}
                    {{ navs.ul() }}
                    {% endblock %}
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                    aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar icon-bar-1"></span>
                    <span class="icon-bar icon-bar-2"></span>
                    <span class="icon-bar icon-bar-3"></span>
                </button>
            </nav>
        </div>
        <!-- /.container -->
    </header>
    <main>
    {% block body %}{% endblock %}
    </main>
    {% block footer %}
    <footer class="footer-10">
        <div class="container">
            <div class="row mb-5 pb-3 no-gutters">
                <div class="col-md-4 mb-md-0  d-flex">
                    <div data-aos="zoom-in" class="con con-1 bg-2 w-100 py-5">
                        <div class="con-info w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <span>+221 78 127 82 88</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-md-0 d-flex">
                    <div data-aos="zoom-in-up" class="con con-2 bg-3 w-100 py-5">
                        <div class="con-info w-100 text-center">
                            <div class="icon d-flex align-items-center   justify-content-center">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <span>contact@pmd-developper.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-md-0 d-flex">
                    <div data-aos="zoom-in-down" class="con con-3 bg-2 w-100 py-5">
                        <div class="con-info w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <span>Dakar sacré coeur 2, Sénégal</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-8 mx-auto">
                    <div class="row">
                        <div class="col-md-6 mb-md-0 mb-4">
                            <h2 class="footer-heading">A propos</h2>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{path('about' ) }}" class="d-block">{{'Out story'|trans}}</a>
                                </li>
                                <li>
                                    <a target="_blank" href="{{ asset(" doc/Conditions générales d'utilisation-1.pdf")
                                        }}" class="d-block">Condition d'utilisation</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 mb-md-0 mb-4">
                            <h2 class="footer-heading">Lien utile</h2>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ path('cahier_charge_index') }}" class="d-block">Remplir le cahier de
                                        charge</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_login') }}" class="d-block">Se connecter</a>
                                </li>
                                <li>
                                    <a href="{{ path('contact') }} " class="d-block">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-5 mb-md-0 mb-4">
		                    <h2 class="footer-heading">Subscribe</h2>
		                    <form action="#" class="subscribe-form">
		                        <div class="form-group d-flex">
		                            <input type="text" class="form-control rounded-left" style="height: 52px"
		                                placeholder="Enter email address">
		                            <button type="submit" class="form-control submit rounded-right">Subscribe</button>
		                        </div>
		                        <span class="subheading">Get digital marketing updates in your mailbox</span>
		                    </form>
		                </div> -->
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer-site-info">© 2020 -
                            <span id="year"></span>
                        </div>
                    </div>
                    <div class="col-md-3 offset-md-6">
                        <div id="footer-socials">
                            <div class="socials inline-inside socials-colored">
                                <a href="https://www.facebook.com/malick.tounkara.50/" target="_blank" title="Facebook"
                                    class="socials-item">
                                    <i class="fab fa-facebook-f facebook"></i>
                                </a>
                                <a href="https://api.whatsapp.com/send?phone=221781278288&text=Salut, Malick j'ai eu votre contacte sur votre site :"
                                    target="_blank" title="Whatsapp" class="socials-item">
                                    <i class="fab fa-whatsapp whatsapp"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    
    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.js') }}"></script>
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
	        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	        crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
	        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
	        crossorigin="anonymous"></script> -->
    <!-- sweetalert2-->
    <script src="{{ asset('vendor/sweetalert2/sweetalert2.all.min.js') }}"></script>
        <!-- owl-carousel -->
    <script src="{{ asset('vendor/owl-carousel/owl.carousel.min.js') }}"></script>
    <!-- Aos -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"> </script><!-- pmd script  -->
    {% block foot %}{% endblock %}
    <script src="{{ asset('js/util.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script>
   $(document).ready(function(){
    const $searchInput = $('#searchInput');
    const $searchResults = $('#searchResults');

    // Données de pages exemple (vous pouvez remplacer ceci par vos propres données)
    const pages = [
        { path:'/', name: 'Accueil', description: 'Page d\'accueil du site' },
        { path:'/formations', name: 'Formations', description: 'Page d\'informations sur le site' },
        { path:'/#service', name: 'Services', description: 'Page présentant les services proposés' },
        { path:'/#messages', name: 'Contact', description: 'Page de contact' },
        { path:'/login', name: 'Se connecter', description: 'Page de conection' }
    ];

    // Fonction de recherche
    function searchPages(query) {
        // Filtrer les pages dont le nom ou la description correspond à la recherche
        return pages.filter(page => page.name.toLowerCase().includes(query.toLowerCase()) || page.description.toLowerCase().includes(query.toLowerCase()));
    }

    // Fonction pour afficher les résultats de recherche
    function displaySearchResults(results) {
        $searchResults.empty();
        if (results.length > 0) {
            $.each(results, function(index, result){
                const $li = $('<li><a href="' + result.path + '"><strong>' + result.name + '</strong><br>' + result.description + '</a></li>');
                $searchResults.append($li);
            });
            $searchResults.css('display', 'block');
        } else {
            $searchResults.css('display', 'none');
        }
    }

    // Événement de saisie dans la barre de recherche
    $searchInput.on('input', function() {
        const query = $(this).val().trim();
        if (query.length > 0) {
            const results = searchPages(query);
            displaySearchResults(results);
        } else {
            $searchResults.css('display', 'none');
        }
    });

    // Cacher les résultats de recherche lorsque l'utilisateur clique en dehors de la zone de recherche
    $(document).on('click', function(e) {
        if (!$searchInput.is(e.target) && !$searchResults.is(e.target) && $searchResults.has(e.target).length === 0) {
            $searchResults.css('display', 'none');
        }
    });
});

    </script>
    {% block javascripts %}{% endblock %}

</body>

</html>