{% import "macros/navUl.html.twig" as navs %}
{% extends "main/base.html.twig" %}
{% block title %}A propos{% endblock %}
{% block navUl %}
{{ navs.ul('about') }}
{% endblock %}
{% block body %}
<style>
    section#boutique{
        background: #fff;
    }
</style>
<nav class="breadcrumb breadcrumb-1 border-none  py-1 bg-2 m-0">
    <a class="breadcrumb-item" href="/">{{'Home'|trans}}</a>
    <span class="breadcrumb-item text-white active">{{'About'|trans}}</span>
</nav>
<!-- description de PMD-->
<section data-aos="fade-up" id="description" class="bg-white text-center">
    <img class="w-50 " src="{{ asset('img/logo/pmd-developper.png') }}" alt="Pmd developper">
    <p class="text-white font-weight-bold home-title">Votre équipe de solution informatique</p>
</section>
<!--message client-->
<section id="about">
    <h3>A propos de nous</h3>
    <p></p>
    <div class="container">
        <div class="row mb-3">
            <div data-aos="zoom-in-left" class="col-md-8 col-12">
                <p class="about-title">Pourquoi nous faire confiance ?</p>
                <p class="about-content text-justify">Passionner par le développement de solution logiciel, la
                    satisfaction de nos clients est une priorité dans la mesure du possible.
                    La mise en avant des préoccupations du client est en adéquation avec les avancées
                    technologiques.
                    PMD Developper est une équipe dynamique, rigoureuse et excellente dans la réalisation puis
                    la livraison de vos projets.
                </p>
            </div>
            <div class="col-md-4 col-12 text-center">
                <img class="img-fluid about-img" src="{{ asset('img/about/about-1.jpg') }}">
            </div>
        </div>
        <hr>
        <div class="row mt-5" id="profil">
            <div class="col-md-4 col-12 text-center">
                <img class="img-fluid about-img" src="{{ asset('img/about/about-3.jpg') }}">
            </div>
            <div data-aos="zoom-in-right" class="col-md-8 col-12">
                <p class="about-title">Profil</p>
                <p class="about-content text-justify">PMD Developper créé en 2020 suite à un regroupement de
                    trois développeurs issu d’une même formation professionnelle dans le but d’informatiser le
                    continent africain.
                    Ces trois développeurs sont Pepin NGOULOU, Malick TOUNKARA et Mamadou DIEME d’où
                    l’acronyme PMD,
                    suite à la proposition de Malick TOUNKARA de pouvoir consolider leurs compétences afin de
                    répondre à la forte demande d’informatisation du Sénégal puis du continent Africain, ses
                    collaborateurs ont approuvés l’idée et ce qui engendra la création de PMD Developper
                </p>
            </div>
        </div>
        <hr>
        <div class="row mb-3">
            <div data-aos="fade-up" data-aos-duration="2000" class="col-md-8 col-12">
                <p class="about-title">Motivation</p>
                <p class="about-content text-justify">PMD DEVELOPPER est une structure passionnée du
                    développement des solutions informatiques.
                    Dans le but de contribuer au développement de l’Afrique (l’informatisation, la réalisation,
                    Amélioration des conditions
                    de travail, …) PMD DEVELOPPER se veut être un acteur important en proposant des solutions
                    innovantes et simples
                    d’utilisation
                </p>
            </div>
            <div class="col-md-4 col-12 text-center">
                <img class="img-fluid about-img" src="{{ asset('img/about/about-2.png') }}">
            </div>
        </div>
    </div>
</section>
{% endblock %}