{% extends 'admin/base.html.twig' %}

{% import "macros/table.html.twig" as table %}
{% import "macros/head.html.twig" as head %}
{% import "macros/foot.html.twig" as foot %}
{% import "macros/breadcrumb.html.twig" as utils %}
{% import "macros/alertes.html.twig" as alerte %}
{% import "macros/button.html.twig" as btn %}
{% import "macros/link.html.twig" as link %}
{% import "macros/badge.html.twig" as badge %}
{% import "macros/dataTable.html.twig" as dataTable %}

{% block head %}
	{{ dataTable.css() }}
{% endblock %}

{% block foot %}
	{{ dataTable.js() }}
{% endblock %}

{% block javascripts %}
	{{ dataTable.script('#table-1') }}
	{{ dataTable.script('#table-2') }}
	{{ dataTable.script('#table-3') }}
{% endblock %}

{% block title %}
	Partenaire Investissement
{% endblock %}

{% block body %}
	{% for item in app.flashes('success') %}
		{{alerte.alert(item,'success')}}
	{% endfor %}

    <div class="row mb-3">
		<div class="col-lg-12 cold-md-12 col-xm-12">
			<div class="card card-outline card-dark">
				<div class="card-header">Informations du Contractant</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-6">
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0 font-weight-bold">Nom Complet</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">{{contractant_investissement.personneGestion.getFullName}}</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0 font-weight-bold">Nom</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">{{contractant_investissement.personneGestion.nom}}</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0 font-weight-bold">Prenom</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">{{contractant_investissement.personneGestion.prenom}}</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0 font-weight-bold">Adresse</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">{{contractant_investissement.personneGestion.adresse}}</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0 font-weight-bold">Téléphone</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">{{contractant_investissement.personneGestion.phone}}</p>
								</div>
							</div>
							<hr>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0 font-weight-bold">Titre</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">{{contractant_investissement.personneGestion.titre}}</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0 font-weight-bold">Email</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">{{contractant_investissement.personneGestion.email}}</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0 font-weight-bold">Ville</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">{{contractant_investissement.ville}}</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0 font-weight-bold">Pays</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">{{contractant_investissement.pays}}</p>
								</div>
							</div>
							<hr>
                            <div class="row">
								<div class="col-sm-3">
									<p class="mb-0 font-weight-bold">Code Postal</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">{{contractant_investissement.codePostal}}</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0 font-weight-bold">A T'il un profile ?</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">{{contractant_investissement.personneGestion.avatar ? 'la gestion des images se fera après' : 'pas de profil'}}</p>
								</div>
							</div>
							<hr>
						</div>
					</div>
				</div>
				<div class="card-footer">
					{{link.back(path('admin_gestion_contractant_investissement_index'),'Vos Partenaires d\'affaire')}}
					{{link.edit(path('admin_gestion_contractant_investissement_edit', {'id': contractant_investissement.id}))}}

				</div>
			</div>
		</div>
	</div>


	<div class="row mb-3">
		<div class="col-lg-12 cold-md-12 col-xm-12">
			<div class="card card-outline card-dark">
				<div class="card-header">Les Investissements avec le Partenaire <b class="text-danger">{{contractant_investissement.personneGestion.getFullName}}</b></div>
				<div class="card-body">
					<p>
						Il y a
						<b class="text-danger">{{contractant_investissement.investissements|length}}</b>&nbsp; investissement(s) avec 
						<b class="text-danger">{{contractant_investissement.personneGestion.getFullName}}
						</b>&nbsp;
					</p>
					<div class="row">
						<div class="col-md-12 col-lg-12 col_xm-12">
							<table class="table" id="table-2">
								<thead>
									<tr>
										<th>Type</th>
										<th>Désignation</th>
										<th>Montant</th>
										<th>Date Début</th>
										<th>Date Echéance</th>
										<th>actions</th>
									</tr>
								</thead>
								<tbody>
									{% for investissement in contractant_investissement.investissements %}
										<tr>
											<td>{{ investissement.type }}</td>
											<td>{{ investissement.designation }}</td>
											<td>{{ investissement.montantInvestissement|number_format(0, '', ' ') }}</td>
											<td>{{ investissement.getDateDebut ? investissement.getDateDebut|date_format_fr('Y-m-d') : '' }}</td>
											<td>{{ investissement.getDateFin ? investissement.getDateFin|date_format_fr('Y-m-d') : ''}}</td>
											
											<td>
												{{link.show(path('admin_gestion_investissement_show', {'id': investissement.id,'id_contractant':investissement.contractantInvestissement.id}))}}
												{{link.iconEdit(path('admin_gestion_investissement_edit', {'id': investissement.id,'id_contractant':investissement.contractantInvestissement.id}))}}

											</td>
										</tr>
									{% else %}
										<tr>
											<td colspan="4">no records found</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>

					</div>
				</div>
				<div class="card-footer">
					{{link.back(path('admin_gestion_contractant_investissement_index'),'Vos Pertenaires d\'affaire')}}
					{{link.manageList(path('admin_gestion_investissement_index', {'id': contractant_investissement.id}),'gerer les investissements')}}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
