{% macro etat(etat) %}
    {% if etat == 'En cour' %}
        <span class="badge m-1 font-weight-bold badge-primary">{{etat}}</span>
        {% elseif etat == 'Annuller' %}
        <span class="badge m-1 font-weight-bold badge-danger">{{etat}}</span>
    {% endif %}
{% endmacro %}

{% macro cahierCahrge(status) %}
    {% if status == 'En attente' %}
        <span class="badge badge-info">{{status}}</span>
    {% elseif etat == 'Valider' %}
        <span class="badge badge-success">{{status}}</span>
    {% elseif etat == 'Annuller' %}
        <span class="badge badge-danger">{{status}}</span>
    {% else %}
        <span class="badge">{{status}}</span>
    {% endif %}
{% endmacro %}

{% macro articleLabel(label,circle = false) %}
    {% if label == 'New' %}
        <span class="product-label {{ circle ? 'label-circle':'' }} label-new">{{'New'|trans}}</span>
        {% elseif label == 'Top' %}
        <span class="product-label {{ circle ? 'label-circle':'' }} label-top">{{'Top'|trans}}</span>
        {% elseif label == 'Out' %}
        <span class="product-label {{ circle ? 'label-circle':'' }} label-out">{{'Stock'|trans}}</span>
    {% endif %}
{% endmacro %}

{% macro order(etat) %}
    {% if etat == 'completed' %}
        <span class="badge badge-success">{{etat}}</span>
        {% elseif etat == 'Désactiver' %}
        <span class="badge badge-warning">{{etat}}</span>
        {% elseif etat == 'in progress' %}
        <span class="badge badge-primary">{{etat}}</span>
        {% elseif etat == 'waiting' %}
        <span class="badge badge-light">{{etat}}</span>
        {% elseif etat == 'canceled' %}
        <span class="badge badge-danger">{{etat}}</span>
        {% else %}
        <span class="badge">{{etat}}</span>
    {% endif %}
{% endmacro %}