{% extends 'base.html.twig' %}

{% block title %}Pointage{% endblock %}

{% block body %}
    <h1>Pointage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pointage.id }}</td>
            </tr>
            <tr>
                <th>NombreHeureDispense</th>
                <td>{{ pointage.nombreHeureDispense }}</td>
            </tr>
            <tr>
                <th>ContenuDispense</th>
                <td>{{ pointage.contenuDispense }}</td>
            </tr>
            <tr>
                <th>DatePointage</th>
                <td>{{ pointage.datePointage ? pointage.datePointage|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>EsSupplementaire</th>
                <td>{{ pointage.esSupplementaire ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_gestion_formation_pointage_index') }}">back to list</a>

    <a href="{{ path('admin_gestion_formation_pointage_edit', {'id': pointage.id}) }}">edit</a>

    {{ include('admin_gestion_formation_pointage/_delete_form.html.twig') }}
{% endblock %}
