{% extends 'base.html.twig' %}

{% block title %}ApplicationTelechargementUser index{% endblock %}

{% block body %}
    <h1>ApplicationTelechargementUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for application_telechargement_user in application_telechargement_users %}
            <tr>
                <td>{{ application_telechargement_user.id }}</td>
                <td>{{ application_telechargement_user.nom }}</td>
                <td>{{ application_telechargement_user.email }}</td>
                <td>
                    <a href="{{ path('app_admin_application_telechargement_show', {'id': application_telechargement_user.id}) }}">show</a>
                    <a href="{{ path('app_admin_application_telechargement_edit', {'id': application_telechargement_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_application_telechargement_new') }}">Create new</a>
{% endblock %}
