{% extends "main/base.html.twig" %}
{% import "macros/alertes.html.twig" as alertes %}
{% import "macros/navUl.html.twig" as navs %}
{% block title %}Contact{% endblock %}
{% block navUl %}
{{ navs.ul('contact') }}
{% endblock %}
{% block head %}
 <script>
function onSubmit(token) {
         document.getElementById("contact-form").submit();
       }
</script> 
{% endblock %}

{% block body %}
<nav class="breadcrumb breadcrumb-1 border-none  py-1 bg-2 m-0">
    <a class="breadcrumb-item" href="/">Home</a>
    <span class="breadcrumb-item text-white active">Contact</span>
</nav>
{% for item in app.flashes('success') %}
{{ alertes.alert(item,'success')}}
{% endfor %}
<!-- description de PMD-->
<section data-aos="fade-up" id="description" class="bg-white text-center">
    <img class="w-50 " src="{{ asset('img/logo/pmd-developper.png') }}" alt="">

    <p class="text-white home-title font-weight-bold">Une Equipe à votre service</p>
</section>
<!--message client-->
<section id="message" data-aos="fade-down">
    <h3>Laissez-nous un message</h3>
    <p></p>
    <div class="container">
        {{ form_start(form,{
          attr:{
            id:'contact-form'
          }
        })}}
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="form-group">
                    <label for="">Nom complet <span>*</span> </label>
                    {{form_widget(form.nom,{
                    attr:{
                    'class':'size-input'
                    }
                    })}}
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Téléphone <span>*</span></label>
                    {{form_widget(form.tel,{
                    attr:{
                    class:'size-input'
                    }
                    })}}
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email <span>*</span></label>
                    {{form_widget(form.email,{
                    attr:{
                    class:'size-input'
                    }
                    })}}
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="form-group ">
                    <label for="exampleInputEmail1 ">Votre  Message <span>*</span></label>
                    {{ form_widget(form.message) }}
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="g-recaptcha btn btn-2" 
                data-sitekey="6Lf5x_ceAAAAAGo5ObTVmBQva3GcIV8nzhmu2xlI" 
                data-callback='onSubmit'><i class="fas fa-paper-plane"></i>&nbsp;Envoyer</button>
            </div>
        </div>
        {{form_widget(form)}}
        {{ form_end(form)}}
        <script>onload();</script>
    </div>
</section>
{% endblock %}
{% block javascripts %}{% endblock %}